{% extends 'base.html.twig' %}

{% block title %}MODIFIER MON MOT DE PASSE{% endblock %}
{% block content %}
<h1>Modifier mon mot de passe</h1>

<a href="{{path('accounte')}}">Retourner à mon compte</a> 
<hr>
</br>
{{ form(form) }}
<hr>
{% endblock %}
